/* .sidebar {
  width: 25%;
  border-left: 1px solid #ccc;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.sidebar-card h3 {
  margin-top: 0;
} */
