body {
  margin: 0;
  font-family: var(--font-poppins);
  background-color: var(--yellow);
}

p {
  margin-top: 20px;
  font-size: 1.2rem;
}

h1 {
  font-family: var(--font-logo);
}

.main-btn {
  background: var(--dark-green);
  margin-top: 20px;
}

.main-btn:hover {
  transform: scale(1.01);
}

.card {
  margin-top: 30px;
  background: var(--green);
  padding: 5%;
}

.card:hover {
  box-shadow: var(--shadow);
}

.container-fluid.row {
  padding-top: 6rem;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
  border-radius: 3%;
  box-shadow: var(--shadow);
}

.card-img-top:hover {
  transform: scale(1.02);
}

.btn-success {
  box-shadow: var(--shadow);
  --bs-btn-border-color: #052f2f;
}

.btn-warning {
  --bs-btn-border-color: #ff9900;
}
.card-title {
  font-family: var(--font-logo);
}

p.card-text {
  font-size: 1rem;
}

.my-btn {
  box-shadow: var(--shadow);
  background-color: var(--orange);
}

.my-btn:hover {
  transform: scale(1.02);
}