.words-form {
    background-color: #35af82;
    box-shadow: 5px 10px 20px 1px;
    margin: 10% 20% 10% 20%;
}

.words-submit, .words-random {
    background-color: #ff9900;
    margin: 2% 2% 2% 2%;
    color: black;
    border: none;
}

.words-submit:hover, .words-random:hover {
    background-color:#f2bc6b;
    box-shadow: 1px 2px 2px 1px;
    color: black;
}

.bold {
    font-weight: bold;
}

li {
    list-style-type: none;
}