.words-form {
  background-color: var(--green);
  box-shadow: var(--shadow);
  margin: 10% 20% 10% 20%;
}

.words-submit, .words-random {
  color: black;
  margin: 30px;
  box-shadow: var(--shadow);
  background-color: var(--orange);
}

.btn-warning {
  --bs-btn-border-color: #ff9900;
}

.bold {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.word-input {
  width: 40rem !important;
}