@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-logo: "Righteous", sans-serif;
  --light-green: #adddce;
  --yellow: #f2bc6b;
  --orange: #ff9900;
  --green: #35af82;
  --dark-green: #052f2f;
  --shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}